<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
      <input type="text"  class="fadeIn second"  placeholder="Kullanıcı Adı" #kullaniciAdi >
      <input type="password"  class="fadeIn second"   placeholder="Şifre" #sifre >
      <input type="button" class="fadeIn fourth" value="Giriş" (click)="Login(kullaniciAdi.value,sifre.value)" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
    </div>

    <p-toast [style]="{marginTop: '80px'}" position="bottom-right"></p-toast>
  </div>
</div>
